- content_for :hero do
  .hero
    %a{ :href => "/2014/" }
      %hgroup
        %h1.title HITCON 2014
        %h2.slogan Adapt to the new era of security threats

.row.description
  .section

.row.topic
  .section

    .obj-pointer.obj{ :"data-type" => "Pointer"}
    / .obj-decoder.obj{ :"data-type" => "Decoder"}
    / .obj-scanner.obj{ :"data-type" => "Scanner"}

    %h2.title This Year
    .content
      %p In the new era of information explosion<span>,</span><br> we are facing persistent information security threats and vulnerabilities<span>,</span></br>for which the traditional defense is no longer adequate<span>.</span>
      %p Hackers do not believe in clean room when it comes to information security<span>,</span><br>no one is exempted<span>.</span>
      %p Therefore<span>,</span><br> you should learn to adept and coexist with the threats<span>,</span><br>let us keep on fighting<span>.</span>
      .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
    %hr
    .obj-pointer.obj{ :"data-type" => "Pointer"}
    %h2.title 今年主軸
    .content
      %p 在這資訊發展快速的新時代中<span>，</span><br>我們面對的是無所不在的資安威脅及漏洞<span>，</span><br>舊的阻擋思維以不足因應<span>，</span><br>駭客不相信這世界有完美的無菌室<span>，</span><br>你應該學會如何適應並與威脅共存<span>，</span><br>讓我們一同進擊吧<span>。</span>
      %p Lessons learned: adapt to the new era of security threats.

      .fb-like{ "data-href" => "http://hitcon.org/2014", "data-colorscheme" => "dark", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450" }

%hr

.row.call-for-paper
  .section
    .content
      %a.btn{ :href => "/2014/agenda/" } Agenda / 議程表

%hr

.row.whats-hitcon
  .section
    .objgroup
      .obj-decoder.obj{ :"data-type" => "Decoder"}
      .obj-decoder.obj{ :"data-type" => "Decoder"}
      .obj-decoder.obj{ :"data-type" => "Decoder"}
    %h2.title What's HITCON
    .content.en
      %p In the field of pure technology, there is no evil and justice. We believe hacker represents an always challenging spirit with tremendous knowledge and skills.
      %p Hacks in Taiwan (HITCON) is a highly technical security conference in Taiwan. We know there are a lot of information security researchers with very professional expertise and experience in Taiwan. Before Hacks in Taiwan, there’s no chance to gather them. So CHROOT had the idea to hold an annual conference for all people who are interested in security and hacking. We provide a stage for all hackers to share their newest and exciting findings, to talk without worries, to exchange experience face to face.
      %p We are very careful in the quality of speeches. We hope presentations could be researches of latest trends or technologies, excellent hacking techniques, fresh and creative ideas, and with less commercial purpose.
      %p In addition to knowledge sharing, we also hold the wargame event (a.k.a. Capture The Flag) for all attendees. Everyone can attend the game, solve puzzles, and have fun during whole conference. Besides, we have an IRC channel with a very large screen on the stage, wall of sheep, etc. Because of these interesting and unique peculiarities, we can attract a lot of people who are interested in security and hacking to attend the event.
      %p HITCON is the hacker’s party. We invite everyone to come to Taiwan, join the party. You can experience Taiwan hacker’s culture, see most interesting and sensitive topics, and communicate with hackers as well as hacker groups.

    .objgroup
      .obj-decoder.obj{ :"data-type" => "Decoder"}
      .obj-decoder.obj{ :"data-type" => "Decoder"}
      .obj-decoder.obj{ :"data-type" => "Decoder"}
    %h2.title HITCON 是三小
    .content.zh-tw
      %p Hacks In Taiwan Conference 台灣駭客年會 (HITCON) 是台灣最大的駭客與資安技術研討會。
      %p 純技術的領域裡面沒有黑與白。我們認為駭客是代表著高超的技術、挑戰的精神。有別於一般商業性質濃厚之研討會，台灣駭客年會提供了一個舞台讓駭客們有機會與大家分享最新與最深入的資安技術，面對面交流經驗，自由的對談。
      %p 台灣駭客年會也舉辦了網路攻防競賽 (Wargame)，提供真實的網路環境和挑戰，讓參與人員能夠盡情發揮，在活動中學習並印證自己的能力。是駭客年會最大的特色之一。即時的 IRC 聊天頻道、綿羊牆等創新的安排，都是台灣駭客年會與眾不同之處。
      %p 在這一年一度駭客們的聚會，除了技術的分享，也能體驗到真正的駭客文化。我們歡迎所有對資訊安全有興趣的朋友，一同參與這每年一度的盛會。
