- content_for :hero do
  = render "/2014/hero-page"

.row.topic.article
  .objgroup
    .obj-pointer.obj{ :"data-type" => "Pointer"}
  %h2.title HITCON 10 週年心路歷程
  :markdown
    十年

    近日陰雨綿綿，潮溼略帶悶熱，轉進人潮擁擠的捷運站內，赫然見到一位身穿黑色T恤的男孩從身邊匆匆走過，看著衣服上的小灰帽，思緒不禁帶到那個充滿熱情的夏天。

    一個年輕小夥子，站在坐滿百人的教室內，正在淊淊不絕地講述如何透過駭客技巧，免費觀賞熱情視訊(WebCam Girls)，這一場壓軸讓全場充滿歡笑，代表第一次舉辦台灣駭客年會的成功，也開啟了台灣駭客們的夢。

    2004 年六月，CHROOT 資安社群成立，匯集了當時台灣地下駭客組織成員、資深的資安專家和白帽駭客，並且決定參考美國拉斯維加斯的駭客年會 (DEFCON) 在台灣舉辦一場屬於自己的駭客年會，定名為 Hacks In Taiwan (HIT)，這個名稱的由來其中一個原因係紀念已解散的著名駭客組織 (Hackers In Taiwan)，另一方面強調對於駭客技術的熱情不只在資安領域，而是汎指各項技術上的 Hacking。中文名稱取作「台灣駭客年會」更是挑戰當時對於「駭客」名詞的負面看法，希望對「駭客」一詞有正面概念的傳達。

    對於一群只熟悉網路技術的宅男們來說，辦一個研討會是大夥從沒有過的挑戰，不知道要探討什麼主題；不知道有沒有講師，不知道要有預算概念；不知道會議流程如何進行；不知道有沒有贊助商；不知道會有多少人報名參加。因此，CHROOT 決定花一年的時間準備，每個月固定聚會討論會議主題，分享研究成果，訓練演講技巧，觀摩其它研討會，找尋各方資源，選定在七月中旬於文化大學大新館舉辦，希望帶給參加者一個不同於商業性質，充滿駭客技術分享，充滿熱情有趣，具有表現自我機會的研討會，這些後來也成為每一屆的重要精神。

    還記得，我們定了一個當時不算低的票價，而且還得先匯款才能完成報名，網站只有少數資訊且還放了一頁奇怪文字訊息，官方郵件服務還不穩定，偶爾會有退信情況發生。有趣的是，當時我向文化大學訂場地時，擔心用「駭客年會」名義會被校方拒絕，所以我用「資安社群研討會」，導致許多報名者想向文化大學求證時，都被回覆「文化大學並無駭客年會相關活動舉辦」。

    第二屆舉辦時，我們就發現文化大學數位演講廳的兩百個位子已不夠，因此第三至第五屆移到台灣科技大學國際演講廳，同時，在更多的贊助商及各路先進協助下，參與人數近四百人，成長兩倍有餘。到了 2010 年，終於有了能滿足空間、設備及費用的場地 - 中研院人文社會科學館，直到 2013 年，HITCON 現場參與人數突破 850 人，報名開放僅三分鐘內門票即售磬，創記錄的讓 30 位國內外資安專家發表演講，這還真是台灣少見的大規模資訊技術研討會。

    要舉辦大型的研討會，其實都靠優秀的工作人員齊心合力完成。前幾屆都是由 CHROOT 成員的女友、老婆或兄弟姊妹們，充當工作人員，他們的辛勞付出與經驗傳承，也讓 HITCON 在往後招募志工上，更為容易。不管是親朋好友找來幫忙，或是自願加入協助活動舉辦，都是每年 HITCON 能成功的背後重要因素，值得我們心存感激。

    說實在的，一年舉辦一次研討會，其實已經讓 HITCON 籌辦團隊忙到焦頭爛耳，但又時時覺得希望多一點活動，讓台灣更多人重視資安，提起學生們對 Security 的興趣，進而發揮更大的影響力。為了讓重大資安事件被各界重視，我們開始辦 HITCON Freetalk，以小規模活動方式邀請各政府單位及企業參與，第一時間將完整訊息揭露，協助加速應變及處理，例如去年三月韓國發生的嚴重資安攻擊，今年 OpenSSL HeartBleed 嚴重漏洞。此外，這幾年我們見到每年在 HITCON 舉行的 Wargame 競賽逐漸受到重視，除了政府舉辦的資安金盾獎，今年四月初賽門鐵克第一次在台灣舉辦駭客攻防競賽，五月初，HITCON Wargame 組長 Alan，組團帶領台大 217 學生團隊，前往南京參加百度 BCTF 競賽獲取冠軍，憑著這股氣勢和不放棄的精神，在上週末的 DEFCON CTF 資格賽搶下寶貴名額，準備在八月以 HITCON CTF 團隊名義，代表台灣出賽，和全球頂尖駭客爭奪世界冠軍。

    透過 HITCON ，我們逐漸實現多年前的夢想，確切來說，我們透過 HITCON 的力量協助台灣年輕的駭客們逐夢，也是實現我們的夢，而他們對 HITCON 的熱情和支持，也是我們在舉辦 HITCON 精疲力精後的一股強心針。

    > “I like the dreams of the future better than the history of the past.”
    >
    > ― Thomas Jefferson

    接下來，HITCON 籌辦團隊試著把 HITCON 帶向永續發展及培養更多資安人材的方向努力，我也期望 HITCON 的未來十年，能創造及完成更多的夢想。堅持、努力以及不放棄的挑戰，也是駭客心中的信念，不是嗎?

    穿著小灰帽衣的男孩仍在捷運上滑著手機，聽著關門的催促聲，我踏出車箱，回頭望著駛離的捷運列車，視線逐漸模糊。


