- content_for :hero do
  = render "/2014/hero-page"

.row.topic.article
  .section
    .objgroup
      .obj-pointer.obj{ :"data-type" => "Pointer"}
    .content
      :markdown
        2013 年夏天，在中研院，我們邀請了來自 14 個國家的 36 位講師，三軌議程，深度探討 cyber war 的議題。從資訊戰的局勢探討到駭客追蹤，最新攻擊與防禦技術研究一直到人才培養議題，加上算命攤(神秘第四軌議程)、奇葩獎頒獎、wargame 競賽、高級冰淇淋等等，主辦團隊又再次將 HITCON 推向了另一個高峰。誠摯感謝每一位對 HITCON 幫忙過的朋友，也感謝贊助商與參加者對 HITCON 的支持。然而，在掌聲與讚美之後，我們其實面臨了很多新的挑戰。

        HITCON 2013 兩階段賣票都在三分鐘內售罄，是一個很不簡單的成績，但也帶來了很多的問題。我們大部分時間不是在售票，而是不斷地跟大家道歉我們真的沒有票了。「我們公司很多人都很想去，但一張票都買不到」、「你們應該以價格來控制數量」、「明年可以先賣企業票嗎？」、「連贊助商都沒有票了嗎？」，我們了解調漲票價不是唯一解決問題的方式，但這些批評和建議也讓我們發現很多在各大企業資安部門、政府相關單位、資安廠商等真正與網路攻擊、網路犯罪對抗的人員，都沒法來參加 HITCON，但 HITCON 很多的議題是設計給這些在第一線的資安從業人員參加的。

        另外再跟大家分享一個小故事，去年 HITCON 第一天傍晚，我在工作人員接駁車上遇到了一位不小心上錯車的參加者。由於外表很年輕，忍不住跟他聊了幾句。原來他還是一位高中生，年紀這麼小就來參加 HITCON 實在讓我有點意外，「你都聽得懂嗎？」、「門票會不會負擔很大」，『我都聽不懂，所以我喜歡在算命攤』、『門票很貴，但我還是很想來』，他的幾句話著實讓我思考了很久。

        今年已經是 HITCON 第十屆，從一百人的聚會變成上千人的國際研討會，從一開始的純技術交流演變到現在其實很多核心成員都覺得我們有協助推動資安發展的社會責任。我們的活動希望所有對資安有興趣的人都可以來參加，不管你是高中生還是企業 CIO/CISO。我們想要把握和珍惜我們的影響力，只要能吸引更多人關注資安、關注技術。

        CHROOT 是負責籌辦台灣駭客年會(HITCON)的一個非營利組織，由一群十年前還是年輕人的充滿熱血對資安與駭客技術極度有熱情的人所組成。義務性質的籌辦會議，其實已經是所有核心成員相當大的負擔。但今年我們決定持續燃燒我們的熱情，讓十週年有點不一樣。

        我在這裡宣布 HITCON X 計劃：

        1. 八月 16 - 22 日：台灣駭客週，將有一連串的競賽、會議、活動。
        2. 八月 16 - 17 日：國際資安競賽。本次 wargame 會開放給全世界一起參加。
        3. 八月 18 日：HITCON X Training - 我們將提供教育訓練課程，國際等級的教育訓練內容。
        4. 八月 19-20 日：HITCON X Enterprise - 於喜來登飯店，我們想要給台灣一個最高品質的資安研討會，希望可以讓更多企業與資安研究人員來參加。除了最新技術議題，還會加上資安策略與政策相關的內容。
        5. 八月 21-22 日：HITCON X Playground - 於中研院社科館，參加門檻更低，內容更有趣。是了解駭客社群與體驗駭客精神最佳場合。
        6. 我們將不定期舉辦 HITCON Free Talk 座談會，從技術角度還原重大的資安事件，並探討防禦與解決方案。
        7. 培訓台灣 CTF 競賽團隊，讓台灣資安實力推向國際。

        還有其他網站與活動的計劃，請拭目以待。

        HITCON 總召 TT 與主辦團隊

