.section
  .objgroup
    .obj-scanner.obj{ :"data-type" => "Scanner"}

  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 徵求投稿計畫書
    :markdown
      1. 第十屆台灣駭客年會將於 2014 年 8 月 19~22 日（週二~週五）舉行，為慶祝HITCON十周年，本屆將擴大舉辦與徵稿，並參考美國BlackHat與Defcon會議特性將本屆為期四天之大會分為以下兩個部分:
        - 前兩日(8/19~8/20)為HITCON X Enterprise大會，假台北喜來登大飯店舉辦，有鑑於全方位之駭客應不只是討論技術內容，本場次更著重於資安政策、資安趨勢發展、國家人才培育議題及企業之相互交流學習，HITCON Enterprise秉持提供參與者最高品質會議內容與場地，藉由本場不管是公部門及私部門以及講師、聽眾與企業主們都能獲得最佳之交流及分享機會。
        - 後兩日(8/21~8/22)為HITCON X Playground大會，假中研院人文社會科學館舉辦，我們一直希望台灣能有一個類似美國Defcon特性的安全會議，然從字面上看來HITCON Playground或許可以了解，本場是一個駭客、資安專家及社群朋友的嘉年華會，內容專注於駭客技術外，當日聽眾於會場亦有相關資訊安全之延伸活動可以參加，包含:HITCON CTF競賽、專家資安成長分享、聽眾即期短分享等等，並擺放有各種有趣活動，我們希望HITCON Playground是一個很好玩也很有特色的資安研討，我們除了會降低本場參加門檻，讓資安社群、學生與所有對資安技術有興趣的人更容易來到這裡與大家交流外，並準備比以往更多好玩有趣的活動和內容，請期待我們之後的公告。

      2. HITCON 籌辦委員會為提升國內資安能量，並厚植國內資安人才，今年趁十周年之機會將擴大舉辦徵稿，內容涵蓋資訊安全技術、網路監察態樣、行動載具安全、資安情資整合分析、手機軟體安全、無線控制設備安全、資安防禦策略及治理、雲端安全、資安事件管理及應變、新型惡意程式剖析、資安事件偵測及預警關鍵基礎保護、資訊法規政策、資安人才培育及相關研究論文等，歡迎各界人士踴躍投稿。論文內容以探討實作技術並能演講 50 分鐘為佳。

      3. 本次HITCON Enterprise與Playground聯合徵稿，接受議題之廣度及深淺都比歷屆還要豐富，請各路資安好手、研究人員及朋友們至本屆HITCON CFP網站 （[http://cfp2014.hitcon.org](http://cfp2014.hitcon.org)） 選擇您投稿的場次吧。

      4. 請欲投稿者於 2014年 7 月 5 日前，至 [http://cfp2014.hitcon.org](http://cfp2014.hitcon.org) 註冊相關資訊與上傳稿件，俾利議程委員審核，請盡速投稿，先投稿者先審核，如已達本屆所需論文，大會保留提前截稿之權利。

      5. 為鼓勵投稿，有關講師之特權與補助，請詳閱徵稿網站條款及規定說明。

      6. 審稿委員對於投稿稿件負有保密之義務，於審稿中接觸之內容未經作者允許不得公開。

      7. 另除了上述的論文徵求外，本次駭客年會亦計畫也0-day exploit發表展示，投稿者於 2014 年 7 月 5 日前，將您個人所發現的漏洞驗證程式(proof of exploit)，以電子郵件方式傳送至 agenda2014 [at] hitcon.org，並經過大會確認，就有機會免費取得本屆HITCON X Enterprise與Playground雙入場券，並且上台展示漏洞，該漏洞一切權利歸作者所有。

      #### 重要日期

      - 2014 年 5月 23 日<br />
        開始徵求講題
      - 2014 年 7月 5 日<br />
        徵求講題截止
      - 2014 年 7月 20 日<br />
        講題錄取通知
      - 2014 年 8月 18 日<br />
        訓練課程
      - 2014 年 8月 19 - 22 日<br />
        HITCON 2014 十周年大會

  .content.en
    .title-wrapper
      %h3.title
        .span Call for Papers
    :markdown
      1. The 10th Hack In Taiwan Conference ( HITCON ) will be held on 19th~22nd of August, 2014. To commemorate the 10th anniversary of the Hacks in Taiwan Conference, HITCON will be expanded into two events:
        - HITCON X Enterprise held on 19th and 20th of August at the Sheraton Grande Taipei Hotel.Since an all round hacker should not focus on techniques alone, this event will therefore focus more on topics such as information security policy, trends in information security industry, cultivation of information security professionals, and exchange between enterprises. HITCON Enterprise will provide the highest quality agenda and venue to facilitate exchange between everyone, including government agencies, civilian organizations, lecturers, audience and enterprises. This event will be similar to BlackHat.
        - HITCON X Playground held on 21st and 22nd of August at the Humanities and Social Sciences Building of Academia Sinica. We've always hoped for a DEFCON-like event in Taiwan. The word "Playground" signifies that this event will be the carnival for hackers, information security professionals and everyone from the information security community. In this event, we'll focus not only on hacking techniques, but also a variety of hacking related activities for the participants, including the HITCON CTF competition, hacker's life experience sharing talk, and other lightning talk by participants. We hope that the HITCON Playground will be a fun and peculiar event. Also, we'll lower the bar ( as in price ) to this event, so that everyone in the information security community, including students will be able to afford to join this event and social with everyone. We're planning for more interesting activities for HITCON Playground, so stay tuned to our announcements.
      2. In order to raise the awareness of information security and to cultivate the information security professionals in Taiwan, we'll be expanding the scale of this year's call for paper, the topics include information security technologies and techniques, internet surveillance, mobile devices security, threat intelligence analysis, mobile phone apps security, remote controlled device security, information security defense strategy and management, cloud security, information security events management and response, malware analysis, information security event detection and preventive measures for critical infrastructures, laws and policies regarding information security, cultivation of information security professionals, and any other related researches. We welcome everyone to submit their paper. The speaking format is 50 minutes of presentation, and is preferably technical.
      3. The call for paper of HITCON Enterprise and Playground will be held together, we welcome all the elite hackers, researchers, and friends to submit their paper at our CFP website ([http://cfp2014.hitcon.org](http://cfp2014.hitcon.org)), and select the event that they wish to submit to.
      4. For those wishing to submit their paper, please apply for an account at [http://cfp2014.hitcon.org](http://cfp2014.hitcon.org) then upload the paper there for review before 5th Jul 2014. Papers are reviewed continuously on a first come first serve basis, therefore it is recommended that the papers be submitted as early as possible. We reserve the right to end call for paper earlier if all slots are filled.
      5. For details on the speakers' honorarium and compensation, please refer to the terms and conditions on the CFP website.
      6. The HITCON committee is responsible for the non-disclosure of all CFP entries, the contents will not be disclosed without the author's consent.
      7. In addition to the above mentioned call for papers, this year's HITCON will feature a 0-day exploit demonstration. To apply, please email an unpatched and unpublished proof of concept for an exploit that you've discovered personally to agenda2014 [at] hitcon.org before 5th Jul 2014. Upon confirmation, you'll have the chance to obtain a free pass to this year's HITCON (both HITCON X Enterprise and Playground), and demonstrate the exploit on stage. All rights regarding the exploit remains with the author.

      #### Important Dates

      - May 23, 2014<br />
        Opening of Call for Proposals
      - July 5, 2014<br />
        Deadline for Proposal Submissions
      - July 20, 2014<br />
          Notification of Proposal Acceptance
      - Aug 18, 2014<br />
        Training Day
      - Aug 19 - 22, 2014<br />
        HITCON 2014 X^2

