%script{ :src => "/2014/javascripts/fastclick.js" }
%script{ :src => "/2014/javascripts/functions.js" }
%script{ :src => "/2014/javascripts/hero.js" }
%script{ :src => "/2014/javascripts/jquery.colorbox-min.js" }
%script{ :src => "/2014/javascripts/site.js" }
%script
  _site().setup();

%script{ :src => "/2014/javascripts/all.js" }
