- content_for :hero do
  = render "/2014/hero-page"

.section.wargame
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  .obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  %br
  %h2.title Wargame

  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 關於 CTF 競賽
    :markdown
      HITCON Wargame 已舉辦了9 年，今年起將有一個重大的改變，未來 HITCON Wargame，正式更名為 HITCON CTF，並為了與國際賽事接軌，將不再侷限比賽地點，而改為線上比賽並開放給世界各國好手，期待選手能與世界一流隊伍一較高下。請注意今年比賽日期，將不在HITCON會議日期舉辦，而是 8/16 12:00 (六) ~ 18 (一) 12:00 (共48HR)，請留意本網站公布之相關資訊

      #### 時間
      - CTF 競賽 2014/08/16 (六) 12:00PM ~ 2014/08/18 (一) 12:00PM

      #### 關卡類型
      - Trivial
      - Web Security
      - Binary Processing
      - Forensics
      - Pwn3d

      #### 競賽說明
      - 2014/07/01 ~ 2014/08/17 線上註冊 ，2014/07/01 開放網址
      - 完成登錄後即具備參賽資格，不需額外報名HITCON研討會
      - 競賽採取積分累計制，比賽結束後依分數高低判定優勝，提供獎金予優勝者。同分者，依最後一次正確提交的時間判定
      - 獎金需於 HITCON Playground 現場領取，因此選手領取獎金必須具備 HITCON Playground 購票入場的資格（任一隊員）
      - 出題關主與工作人員均不列入成績計算

      #### 獎金
      - 第一名獎金 NTD 20,000
      - 第二名獎金 NTD 12,000
      - 第三名獎金 NTD 6,000
      - 第四名獎金 NTD 3,000
      - 第五名獎金 NTD 3,000
      - 第六名獎金 NTD 1,500
      - 第七名獎金 NTD 1,500
      - 第八名獎金 NTD 1,500
      - 第九名獎金 NTD 1,500
      - 現場唱名第一名額外加碼 NTD 10,000
      - 現場唱名第二名額外加碼 NTD 8,000
      - 現場唱名第三名額外加碼 NTD 5,000
       得獎隊伍，若於HITCON Playground(2014/08/21-2014/08/22) 研討會的「HITCON CTF頒獎及心得分享」中分享解題心得，每隊可另外獲得HITCON 10週年鉅獻「HITCON X 駭客攻防桌遊」乙套

      #### 比賽注意事項
      競賽期間，做出以下違規事項者將直接取消資格：

      - 進行任何破壞競賽公平公正原則之行為
      - 散播、與其它隊伍交換關卡金鑰
      - 除競賽中提供的關卡外，禁止對競賽系統、參賽者及其它人員進行攻擊

      #### 保留權利
      主辦單位可依現場狀況調整競賽的內容、流程及規則。

  .content.en
    .title-wrapper
      %h3.title
        .span About Wargame
    :markdown
      HITCON Wargame already has a history of 9 years. From this year, HITCON Wargame will be renamed HITCON CTF. Additionally, in order to get in line with international games, there will no longer be any restrictions on the location of participants. The game will be online and opened to all participants around the world. Please be aware that this year’s game will not be held at the same time as the conference, instead it will be held from August 16th 12:00 to 18th 12:00. (48 hours in total) Please keep your attentions on this site’s future announcements.

      #### Date and time

      - August 16th 12:00 ~ 18th 12:00, UTC+8, 48 hours in total

      #### Problem types
      - Trivial
      - Web Security
      - Binary Processing
      - Forensics
      - Pwn3d

      #### Contest Information:
      - Online register : 7/1~8/17. The registeration link is available on 7/1.
      - You become a contest participant once you register. You need not register for HITCON sessions.
      - Solving each problem will gain certain points. Winners will be ranked by points. There are bonus for winners. If the points are the same, the winners will be ranked by time of the last correct submission.
      - Bonus are awarded at HITCON playground. In order to receive the bonus each team needs to have at least one participant who attends HITCON playground.
      - Problem makers and staffs will not be counted in the ranking process.

      ### Bonus
      - 1st place: NTD 22,000
      - 2nd place: NTD 15,000
      - 3rd place:  NTD 10,000
      - 4th place:  NTD 5,000
      - 5th place:  NTD 5,000
      - 6th place:  NTD 3,000
      - 7th place:  NTD 3,000
      - 8th place:  NTD 2,000
      - 9th place:  NTD 2,000
      - 10th place: NTD 2,000

      Winning teams attending the award ceremony and experience sharing in HITCON playground (Aug. 21-22) will receive one set of “HITCON X Hacker’s Board Game”, celebrating the 10th anniversary of HITCON.

      #### Contest rules
      - During contest, any of the following behavior will lead to disqualification:
      - Any behavior that compromises the fairness of contest
      - Publishing, exchanging problem solutions
      - Attacking any personnel, including participants and non-participants, or the contest system itself

      #### Rights reserved
      Organizers may rearrange/modify contest problems, proceedings, and rules.
